Source: schoollibrary
Section: database
Priority: extra
Maintainer: Niklas Fiekas <niklas.fiekas@tu-clausthal.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: schoollibrary-server
Architecture: all
Depends: nodejs, libcrypt-passwdmd5-perl, ${misc:Depends}
Description: school library api and database
 Allows school libraries to keep track of their books in a
 database. Also keeps track of who lent a book and when it
 is due for return.
 .
 The authentication backend is flexibly configurable.
 Defaults include htusers and IServ.
