Source: schoollibrary
Section: database
Priority: extra
Maintainer: Niklas Fiekas <niklas.fiekas@tu-clausthal.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: winst-schoollibrary
Architecture: all
Depends: ${misc:Depends}
Description: Manage a school library
 opsi.org installation package for the school library
 client application.
